@model IEnumerable<FinanceApp.Models.Expense>


<h2 class=" container">Manage Expense</h2>
<div class="container">
    <table class="table table-bordered"> 
        <thead class="table-light">
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Description</td>
                    <td>@item.Amount</td>
                    <td>@item.Category</td>
                    <td>@item.Date.ToString("yyyy-MM-dd")</td>
                    <td>
                        <a asp-controller="Expenses" asp-action="Edit" class="btn btn-primary" asp-route-expenseId="@item.Id">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="Expenses" asp-action="Delete" class="btn btn-danger" asp-route-expenseId="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
